.navbar-default {
    /* margin-top: 20px; */
    /* padding-top: 10px; */
    background-color: #98f718 !important;
    border-color: #e7e7e7;

}
.box{
    margin-top: 40px;
    margin-left: 70px;
    text-align: center;
    width: 50px;
}